#graph {
    height: 300px;
    width: 100%;
}
input {
    position:absolute;
    top:-100px;
}

.btn-wrap {
    text-align: center;
    margin: 50px 0;
}

#centralityMenu {
    text-align: center;
    margin-top: 50px;
}

#resultTable {
    margin-top: 50px;
    text-align: left;
}

.fileFormat {
    font-size: small;
    text-align: center;
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

.btn-wrap .btn-success {
    width: 200px;
    margin: 0 10px;
}

.collapse h3 {
    display: inline-block;
}

.collapse .btn {
    float: right;
    margin-top: -7px;
    margin-right: -12px;
}