#start_content .panel.panel-info .panel-heading h3.panel-title.lead {
    font-size: 20px;
    font-weight: bold;
}

#start_content .panel.panel-info .panel-heading button,
#start_content .panel.panel-info .panel-heading .checkboxContainer {
    float: right;
}


#result_content table {
    border: solid 1px;
}
#result_content button {
    display: inline-block;
    margin: 20px;
}

#start_content #randomSettings > .row {
    margin-bottom: 30px;
}

#start_content #randomSettings .slider.slider-horizontal {
    width: 100%;
}

#start_content #randomSettings > .row h4 {
    margin-top: 0;
}

#randomSettings .parameterInfo {
    margin-top: 25px;
}

#randomSettings .parameterInfo:nth-of-type(1) {
    margin-top: 5px;
}