#centralityMenu {
    text-align: center;
    margin: 15px 0;
}

.centralityChoose h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.centralityChoose .panel .wikipedia {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#kParam, #d_cutoffParam {
    width: 75px;
    color: black;
    text-align: center;
}

#centralityChooseSmall {
    margin-bottom: 30px;
    text-align: center;
    span {
        margin: 30px;
        font-size: 20px;
        text-shadow: -1px 0 #31708F,0 1px #979ba2,1px 0 #979ba2,0 -1px #979ba2;
        color: rgb(217, 237, 247);
        font-weight: bold;
        font-style: italic;

        &:hover {
            color: #337AB7;
            text-shadow: -1px 0 #86F5F5,0 1px #86F5F5,1px 0 #86F5F5,0 -1px #86F5F5;
        }

        &.selected {
            color: #3F7B98;
            text-shadow: none;
        }
    }
}