#centralities_content {
    .panel.panel-info .panel-heading h3.panel-title.lead {
      font-size: 20px;
      font-weight: bold;
    }

    .panel.panel-info .panel-heading button,
    .panel.panel-info .panel-heading .checkboxContainer {
      float: right;
    }
}

#centralityMenu {
    text-align: center;
    margin: 15px 0;
}

.centralityChoose {
    h2 {
        margin: 0 0 20px 0;
        text-align: center;
    }
    .myerson {
        .MathJax_Display {
            margin: 1px 0;
        }
        .function {
            text-align: center;
            margin-bottom: 10px;

            .dropdown {
                display: inline;
                > button {
                    width: 160px;
                    margin: 0;
                    padding: 5px;
                }

                ul.dropdown-menu {
                   .MathJax_Display {
                       margin: 2px 0;
                   }
                }
            }
        }

        .definition {
            margin: 20px 0;
            text-align: center;
        }

        .parameter {
            text-align: center;
            input {
                text-align: center;
                width: 100px;
            }
        }
    }
}

.centralityChoose .panel .wikipedia {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#kParam, #d_cutoffParam {
    width: 75px;
    color: black;
    text-align: center;
}

#centralityChooseSmall {
    margin-bottom: 30px;

    > div {
        > div {
            margin: 7px 0;
        }

    }
}