#graph_content {
    > button {
        position: absolute;
        z-index: 1000;
        margin-top: 10px;

        &.first {
            margin-left: 10px;
        }

        &.second {
            margin-left: 55px;
        }

        &.third {
            margin-left: 100px;
        }

    }
    #graph {
        height: 500px;
        width: 100%;
        border: solid 1px #99CADA;
        margin-top: 10px;
    }
}