#start_next_content {
  .panel.panel-info .panel-heading h3.panel-title.lead {
    font-size: 20px;
    font-weight: bold;
  }

  .panel.panel-info .panel-heading button,
  .panel.panel-info .panel-heading .checkboxContainer {
    float: right;
  }

  #randomSettings > .row {
    margin-bottom: 30px;
  }

  #randomSettings .slider.slider-horizontal {
    width: 100%;
  }

  #randomSettings .slider-track {
    background: rgb(201, 234, 250);
  }

  #randomSettings .slider .slider-selection {
    background: #5bc0de;
  }

  #randomSettings .slider .slider-handle {
    box-shadow: 0px 0px 10px #f5df73;
    -webkit-box-shadow: 0px 0px 10px #f5df73;
    -moz-box-shadow: 0px 0px 10px #f5df73;
    background: rgb(14, 145, 211);
  }

  #randomSettings > .row h4 {
    margin-top: 0;
  }

  .parameterInfo {
    margin-top: 25px;
  }

  .parameterInfo:nth-of-type(1) {
    margin-top: 5px;
  }
}