<div class="row logo">
    <img alt="" src="img/Logo.png">
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image14.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/tomasz_michalak.jpg">
            </div>
            <div class="info large">
                <div class="title">
                    <p>Tomasz P. Michalak</p>
                </div>
                <div class="desc">Tomasz P. Michalak is a researcher at the Department of Computer Science,
                    University of Oxford and a lecturer at the Insitute of Informatics, University of Warsaw.
                    His main research interests include computational aspects of game theory, games on networks,
                    and artificial intelligence.
                </div>
                <div class="desc">
                    For his personal website click <a href="http://tomaszmichalak.net" target="_blank">here</a>.
                </div>
            </div>
            <div class="bottom">
                <a class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image01.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/talal_rahwan.jpg">
            </div>
            <div class="info large">
                <div class="title">
                    <p>Talal Rahwan</p>
                </div>
                <div class="desc">Talal Rahwan is a lecturer at the Masdar Institute of Science and Technology,
                    United Arab Emirates. His main research interests include computational aspects
                    of game theory, games on networks, and artificial intelligence.
                </div>
                <div class="desc">
                    For his personal website click <a href="http://users.ecs.soton.ac.uk/tr/" target="_blank">here</a>.
                </div>
            </div>
            <div class="bottom">
                <a class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image13.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/oskar_skibski.jpg">
            </div>
            <div class="info large">
                <div class="title">
                    <p>Oskar Skibski</p>
                </div>
                <div class="desc">Oskar Skibski is an assistant professor at the Computer Science Department,
                    Kyushu University. His main research interests include cooparative games, and especially games on networks.
                </div>
                <div class="desc">
                    For his personal website click <a href="http://www.mimuw.edu.pl/~oski/" target="_blank">here</a>.
                </div>
            </div>
            <div class="bottom">
                <a class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image05.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/michael_wooldridge.jpg">
            </div>
            <div class="info large">
                <div class="title">
                    <p>Michael Wooldridgei</p>
                </div>
                <div class="desc">Michael Wooldridge is a professor at the Computer Science Department, University of Oxford.
                    His main research are at the intersection of logic, computational complexity, and game theory.
                </div>
                <div class="desc">
                    For his personal website click <a href="http://www.cs.ox.ac.uk/people/michael.wooldridge/" target="_blank">here</a>.
                </div>
            </div>
            <div class="bottom">
                <a class="btn btn-primary btn-sm">
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-2 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image06.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/jadwiga_sosnowska.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <p>Jadwiga Sosnowska</p>
                </div>
                <div class="desc">
                    Samsung R&D Warsaw, Poland
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image02.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/Marcin_Waniek.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <p>Marcin Waniek</p>
                </div>
                <div class="desc">
                    PhD. student, Institute of Informatics, University of Warsaw
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image09.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/piotr_szczepanski.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <p>Piotr Szczepański</p>
                </div>
                <div class="desc">
                    PhD. student, Department of Computer Science, Warsaw University of Technology
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image10.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/andrzej_skrodzki.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <p>Andrzej Skrodzki</p>
                </div>
                <div class="desc">
                    graduate student, Institute of Informatics, University of Warsaw
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image12.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/piotr_miluski.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <p>Piotr Miluski</p>
                </div>
                <div class="desc">
                    graduate student, Institute of Informatics, University of Warsaw
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card hovercard">
            <div class="cardheader" style="background: url('img/people/background/image11.png');">
            </div>
            <div class="avatar">
                <img alt="" src="img/people/szymon_matejczyk.jpg">
            </div>
            <div class="info">
                <div class="title">
                    <p>Szymon Matejczyk</p>
                </div>
                <div class="desc">
                    Institute of Computer Science, Polish Academy of Sciences
                </div>
            </div>
        </div>
    </div>
</div>