<div class="centralities">
    <div id="centralityAlert" class="alert alert-danger" role="alert"><b>Error: </b> No centrality was selected.</div>
    <h2>Choose centralities to count:</h2>

    <div class="centralityChoose">
        <div class="form-group">
            <input type="checkbox" name="centralities" id="Degree" autocomplete="off" />
            <div class="btn-group">
                <label for="Degree" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Degree" class="btn btn-primary active centralityLabel">
                    Degree
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="centralities" id="Closeness" autocomplete="off" />
            <div class="btn-group">
                <label for="Closeness" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Closeness" class="btn btn-primary active centralityLabel">
                    Closeness
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="centralities" id="Betweenness" autocomplete="off" />
            <div class="btn-group">
                <label for="Betweenness" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Betweenness" class="btn btn-primary active centralityLabel">
                    Betweenness
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="centralities" id="Eigevector" autocomplete="off" />
            <div class="btn-group">
                <label for="Eigevector" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Eigevector" class="btn btn-primary active centralityLabel">
                    Eigevector Centrality
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="centralities" id="Algorithm1" autocomplete="off" />
            <div class="btn-group">
                <label for="Algorithm1" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Algorithm1" class="btn btn-primary active centralityLabel">
                    SV-based degree centrality
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="centralities" id="Algorithm2" autocomplete="off" />
            <div class="btn-group">
                <label for="Algorithm2" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Algorithm2" class="btn btn-primary active centralityLabel">
                    SV-based degree centrality (k = <input type="number" id="kParam" name="quantity" class="input-group-lg" min="1" value="1"/>)
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="centralities" id="Algorithm3" autocomplete="off" />
            <div class="btn-group">
                <label for="Algorithm3" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Algorithm3" class="btn btn-primary active centralityLabel">
                    Algorithm 3 (d_cutoff =  <input type="number" id="d_cutoffParam" name="quantity" class="input-group-lg" min="1" value="1"/>)
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="centralities" id="Algorithm4" autocomplete="off" />
            <div class="btn-group">
                <label for="Algorithm4" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Algorithm4" class="btn btn-primary active centralityLabel">
                    Algorithm 4
                </label>
            </div>
        </div>
		
        <div class="form-group">
            <input type="checkbox" name="centralities" id="Myerson" autocomplete="off" />
            <div class="btn-group">
                <label for="Myerson" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="Myerson" class="btn btn-primary active centralityLabel">
                    Myerson
                </label>
            </div>
        </div>
    </div>
</div>