<div class="centralities">

    <div id="centralityChooseSmall">
        <span onclick="selectCentralityOnList(this, 'Degree');">Degree</span>
        <span onclick="selectCentralityOnList(this, 'Closeness');">Closeness</span>
        <span onclick="selectCentralityOnList(this, 'Betweenness');">Betweenness</span>
        <span onclick="selectCentralityOnList(this, 'Eigevector');">Eigevector Centrality</span>
        <span onclick="selectCentralityOnList(this, 'Algorithm1');">SV-based degree centrality</span>
        <span onclick="selectCentralityOnList(this, 'Algorithm3');">Algorithm 3</span>
        <span onclick="selectCentralityOnList(this, 'Algorithm4');">Algorithm 4</span>
        <span onclick="selectCentralityOnList(this, 'Myerson');">Myerson</span>
    </div>

    <div class="centralityChoose well">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">Degree</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Degree" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Degree" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <span>
                    Degree centrality measures the importance of a node by the degree of the node,
                    i.e. the number of edges incident to the node. The higher degree of a node,
                    the more important the node is.
                </span>
                <div class="wikipedia">
                    Wikipedia: degree (graph theory)[
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Degree_(graph_theory)">
                        https://en.wikipedia.org/wiki/Degree_(graph_theory)
                    </a>]
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">Closeness</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Closeness" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Closeness" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <span>
                    Closeness centrality quantifies importance of a node in terms of shortest distances from this
                    node to all other nodes in the graph. The most important node is the one with the shortest
                    average path length to all other nodes.
                </span>
                <div class="wikipedia">
                    Wikipedia: centrality [
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Centrality">
                        https://en.wikipedia.org/wiki/Centrality
                    </a>]
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">Betweenness</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Betweenness" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Betweenness" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <span>
                    Betweenness centrality quantifies the importance of a given node in the context of network flow.
                    If we consider all the shortest paths in the network, then the greater the proportion of such
                    paths that goes through a given node, the more important the role of that node in the network.
                </span>
                <div class="wikipedia">
                    Wikipedia: centrality [
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Centrality">
                        https://en.wikipedia.org/wiki/Centrality
                    </a>]
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead"> Eigevector Centrality</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Eigevector" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Eigevector" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <span>
                    Eigenvector centrality "assigns relative scores to all nodes in the network based on the
                    concept that connections to high-scoring nodes contribute more to the score of the node
                    in question than equal connections to low-scoring nodes."
                </span>
                <div class="wikipedia">
                    Wikipedia: centrality [
                    <a target="_blank" href="https://en.wikipedia.org/wiki/Centrality">
                        https://en.wikipedia.org/wiki/Centrality
                    </a>]
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">SV-based degree centrality</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Algorithm1" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Algorithm1" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <span>
                    Info
                </span>
                <div class="wikipedia">
                    Wikipedia
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">SV-based degree centrality</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Algorithm2" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Algorithm2" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <div class="row">
                    <div class="col-sm-8">
                        <span>
                            Info
                        </span>
                        <div class="wikipedia">
                            Wikipedia
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <span class="parameterInfo">
                            k =
                        </span>
                        <input type="number" id="kParam" name="quantity" class="input-group-lg" min="1" value="1"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">Algorithm 3</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Algorithm3" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Algorithm3" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <div class="row">
                    <div class="col-sm-8">
                        <span>
                            Info
                        </span>
                        <div class="wikipedia">
                            Wikipedia
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <span class="parameterInfo">
                            d_cutoff =
                        </span>
                        <input type="number" id="d_cutoffParam" name="quantity" class="input-group-lg" min="1" value="1"/>
                    </div>
                </div>
            </div>
         </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">Algorithm 4</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Algorithm4" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Algorithm4" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <span>
                    Info
                </span>
                <div class="wikipedia">
                    Wikipedia
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="panel-title lead">Myerson</h3>
                    </div>
                    <div class="col-xs-6">
                        <div class="checkboxContainer form-group">
                            <input type="checkbox" name="centralities" id="Myerson" autocomplete="off" />
                            <div class="btn-group">
                                <label for="Myerson" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body lead">
                <div class="row">
                    <div class="col-sm-6">
                        <span>
                            Info
                        </span>
                        <div class="wikipedia">
                            Wikipedia
                        </div>
                    </div>
                    <div class="col-sm-6 myerson">
                        <div>
                            Definition of the characteristic function of connected coalition S with with set
                            of internal edges E(S):
                        </div>
                        <div>
                            (1) Pre-defined functions
                        </div>
                        <div class="function">
                            <div class="btn-group">
                                <select id="myersonFunction" class="selectpicker" data-style="btn-primary">
                                    <option>1</option>
                                    <option>|S|</option>
                                    <option>|S|^2</option>
                                    <option>weight(S)</option>
                                    <option>weight(S)^2</option>
                                    <option>E(S)</option>
                                    <option>E(S)^2</option>
                                    <option>weight(E(S))</option>
                                    <option>weight(E(S))^2</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            (2) A pre-defined more general function
                        </div>
                        <div class="parameter">
                            <div>
                                <span class="parameterInfo">
                                    a =
                                </span>
                                <input type="number" id="myerson_a" name="myersonParameters" class="input-group-lg" min="1" value="1"/>
                                <span class="parameterInfo">
                                    b =
                                </span>
                                <input type="number" id="myerson_b" name="myersonParameters" class="input-group-lg" min="1" value="1"/>
                            </div>
                            <div>
                                <span class="parameterInfo">
                                    c =
                                </span>
                                <input type="number" id="myerson_c" name="myersonParameters" class="input-group-lg" min="1" value="1"/>
                                <span class="parameterInfo">
                                    d =
                                </span>
                                <input type="number" id="myerson_d" name="myersonParameters" class="input-group-lg" min="1" value="1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>