<div class="settings row col-md-12">
    <div id="graphViewSettings" class="col-sm-6">
        <button class="btn btn-info first" onclick="globalGraph.graphZooming(0);" data-toggle="tooltip"
                data-placement="bottom"
                title="Zoom out"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <button class="btn btn-info second" onclick="globalGraph.graphZooming(1)" data-toggle="tooltip"
                data-placement="bottom"
                title="Zoom in"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button class="btn btn-info third" onclick="globalGraph.refresh()" data-toggle="tooltip"
                data-placement="bottom"
                title="Refresh"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
        <button class="btn btn-info forth shown" onclick="showHideEdgeWeight(this)" data-toggle="tooltip"
                data-placement="bottom"
                title="Show/Hide weight of egdes">
            Hide weight of edges
        </button>
    </div>
    <div id="changeWeight" class="col-sm-6">
            <input id="newWeightValue" type="text" class="form-control"/>
            <button class="btn btn-info" onclick="changeWeight();" data-toggle="tooltip"
                    data-placement="bottom"
                    title="Change weight">
                Change weight for selected elements
            </button>
    </div>
</div>


<div id="graph"></div>

<div id="centralityMenu">
    <br/>
    <button class="btn btn-info" onclick="globalGraph.fitPosition()" data-toggle="tooltip"
            data-placement="bottom"
            title="Rearrange graph to fit viewport.">Rearrange
    </button>
    <button class="btn btn-success" onclick="globalGraph.addNode();" data-toggle="tooltip"
            data-placement="bottom"
            title="Click to add isolated vertex">Add node
    </button>
    <button class="btn btn-success" onclick="globalGraph.addEdge()" data-toggle="tooltip"
            data-placement="bottom"
            title="To add edge hold down the shift key and select two nodes, which you want to connect.">Add
        edge
    </button>
    <button class="btn btn-danger" onclick="globalGraph.removeNodes()" data-placement="bottom"
            data-toggle="tooltip"
            title="Select node which you want to be removed. You can select multiple by holding down the shift key.">
        Remove selected
        nodes
    </button>
</div>
