<section id="infoSection">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="section-heading">Computational Toolbox</h1>
            <div id="descriptionCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                <ol class="carousel-indicators">
                    <li data-target="#descriptionCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#descriptionCarousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active description">
                        <div class="col-md-6">
                            <p class="lead section-lead">In general, game-theoretic solution concepts,
                                such as the Shapley value or the Banzhaf power index,
                                are computationally challenging. Typically, they require computations
                                which are exponential in the number of players. Fortunately, this is not always
                                the case if the values of coalitions depend on the topology of the network.
                                In particular, for game-theoretic centrality, various positive computational results have been found.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="img/image07.png"/>
                        </div>
                    </div>
                    <div class="item description">
                        <div class="col-md-6">
                            <img src="img/image08.png"/>
                        </div>
                        <div class="col-md-6">
                            <p class="lead section-lead">In general, game-theoretic solution concepts,
                                such as the Shapley value or the Banzhaf power index,
                                are computationally challenging. Typically, they require computations
                                which are exponential in the number of players. Fortunately, this is not always
                                the case if the values of coalitions depend on the topology of the network.
                                In particular, for game-theoretic centrality, various positive computational results have been found.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="http://game-theoretic-centrality.com" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
</section>

<script>
    $('.carousel').carousel();
</script>