<section id="infoSection">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="section-heading">Computational Toolbox</h1>
            <div id="descriptionCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                <ol class="carousel-indicators">
                    <li data-target="#descriptionCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#descriptionCarousel" data-slide-to="1"></li>
                    <li data-target="#descriptionCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active description">
                        <div class="col-md-6">
                            <p class="lead section-lead">In network analysis and graph theory, centrality measures identify
                                the most important nodes in a network (graph). Among numerous applications of centrality
                                measures, there are such classic examples as identifying the most important hubs in a
                                road network (<a href="http://link.springer.com/chapter/10.1007%2F978-3-540-72845-0_6">Schultes & Sanders, 2007</a>),
                                the most critical functional entities in a
                                protein network (<a href="http://www.nature.com/nature/journal/v411/n6833/full/411041a0.html">Jeong, Mason, Barabasi, & Oltvai, 2001</a>),
                                or the most influential
                                people in a social network (<a href="http://www.cs.cornell.edu/home/kleinber/kdd03-inf.pdf">Kempe, Kleinberg, & Tardos, 2003</a>).
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="img/image07.png"/>
                        </div>
                    </div>
                    <div class="item description">
                        <div class="col-md-4">
                            <img src="img/image08.png"/>
                        </div>
                        <div class="col-md-8">
                            <p class="lead section-lead clearMargin">This applet is a free-tool to compute and compare various
                                centrality measures on-line. At the moment, it includes the following centrality measures:
                            <ul class="clearMargin">
                                <li><p class="lead section-lead clearMargin"> classic centrality measures such as degree, closeness, betweenness and eigenvector </p></li>
                                <li><p class="lead section-lead clearMargin"> more advanced centrality measures based on game-theoretic concepts such as the
                                Shapley value and the Myerson value. For more information on game-theoretic centrality measures click <a href="http://game-theoretic-centrality.com">here</a> .</p></li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="item description">
                        <div class="col-md-8">
                            <p class="lead section-lead">We constantly enrich our software library
                                with new measures. If you are interested in a specific measure
                                that is not yet included in our on-line applet please write to
                                <a href="mailto:tomasz.michalak@cs.ox.ac.uk">tomasz.michalak<<@>>cs.ox.ac.uk</a>.
                                <br/>
                                By using this site you agree to the <b>terms & conditions</b> below.
                                <p class="terms">
                                    THIS ON-LINE APPLET IS SUPPLIED "AS IS" WITHOUT WARRANTY OF ANY KIND, AND ITS
                                    AUTHORS DISCLAIM ANY AND ALL WARRANTIES INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES
                                    OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES OR NON INFRINGEMENT.
                                    THE USER ASSUMES ALL LIABILITY AND RESPONSIBILITY FOR USE OF THIS APPLET, AND THE AUTHORS WILL
                                    NO BE LIABLE FOR DAMAGES OF ANY KIND RESULTING FROM ITS USE.
                                    Without limiting the generality of the foregoing, the author do not warrant that the applet
                                    is error-free, will operate without interruption, or will meet the needs of the user.
                                </p>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="img/image07.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a onclick="introductionManager.startNewProject();" class="btn btn-primary btn-xl page-scroll">START NEW PROJECT</a>
    </div>
</section>

<script>
    $('.carousel').carousel();
</script>