<h3 style="text-align: center" class="lead">Computational toolbox</h3>
<div id="introduction">
    <div class="row">
        <div class="col-xs-6">
            The key idea behind game-theoretic centrality measures is to treat nodes as players in a cooperative game,
            where the value of each coalition of nodes is determined by certain graph-theoretic properties. The key
            advantage of this approach is that nodes are ranked not only according to their individual roles in the
            network but also according to how they contribute to the role played by all possible subsets (or groups)
            of nodes. This is important in various applications in which a group's performance cannot be simply described
            as the sum of the individual performances of the involved nodes.
        </div>
        <div class="col-xs-6">
            <img id="introductionImg" src="img/image03.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            In general, game-theoretic solution concepts,
            such as the Shapley value or the Banzhaf power index,
            are computationally challenging. Typically, they require computations
            which are exponential in the number of players. Fortunately, this is not always
            the case if the values of coalitions depend on the topology of the network.
            In particular, for game-theoretic centrality, various positive computational results have been found.
        </div>
    </div>
</div>