<script>
    function loadSliders() {
        var form = function (value) {
            return 'Current value: ' + value;
        };
        $("#sliderN").slider({formatter: form});
        $("#sliderEP").slider({formatter: form});
        $("#sliderICS").slider({formatter: form});
        $("#sliderLinks").slider({formatter: form});
    }
    loadSliders();
</script>
<div class="well">
    <h4>Number of nodes:<input id="sliderN" class="slider" data-slider-id='numNodes' type="text"
                               data-slider-min="5" data-slider-max="100"
                               data-slider-step="1" data-slider-value="14"/></h4>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title lead">Erdos-Renyi Random Graph</h3>
            <b>Edge probability</b><input id="sliderEP" class="slider" data-slider-id='erEdgeP' type="text"
                                          data-slider-min="0" data-slider-max="1"
                                          data-slider-step="0.05" data-slider-value="0.3"/>
            <button type="button" class="btn btn-primary" onclick="erdosRenyi($('#sliderN').slider('getValue'),
                        $('#sliderEP').slider('getValue'))">
                Choose
            </button>
        </div>
        <div class="panel-body lead">
            Random graph, where every edge is in the graph with given probability.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title lead">Preferential Attachment Model</h3>
            <b>Initial clique size</b><input id="sliderICS" class="slider" data-slider-id='paICS' type="text"
                                             data-slider-min="0" data-slider-max="10"
                                             data-slider-step="1" data-slider-value="3"/>
            <b>Number of links created when joining</b>
            <input id="sliderLinks" class="slider" data-slider-id='paLinks' type="text"
                   data-slider-min="1" data-slider-max="20"
                   data-slider-step="1" data-slider-value="3"/>
            <button type="button" class="btn btn-primary"
                    onclick="preferentialAttachment($('#sliderN').slider('getValue'),
                            $('#sliderICS').slider('getValue'), $('#sliderLinks').slider('getValue'))">
                Choose
            </button>
        </div>
        <div class="panel-body lead">
            Preferential Attachment model is an algorithm for generating random scale-free networks
            using a preferential attachment mechanism. Scale-free networks are widely observed in
            natural and human-made systems, including the Internet, the world wide web, citation networks,
            and some social networks.
        </div>
    </div>
</div>