<script>
    function loadSliders() {
        var form = function (value) {
            return 'Current value: ' + value;
        };
        $("#sliderN").slider({formatter: form});
        $("#sliderEP").slider({formatter: form});
        $("#sliderICS").slider({formatter: form});
        $("#sliderLinks").slider({formatter: form});
    }
    loadSliders();
</script>
<div id="randomSettings" class="well">
    <div class="row">
        <div class="col-md-6">
            <h4>Number of nodes:</h4>
        </div>
        <div class="col-md-6">
            <input id="sliderN" data-slider-id='numNodes' type="text"
                   data-slider-min="5" data-slider-max="100"
                   data-slider-step="1" data-slider-value="14"/>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row panel-title">
                <div class="col-md-6">
                    <h3 class="panel-title lead">Erdos-Renyi Random Graph</h3>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary" onclick="erdosRenyi($('#sliderN').slider('getValue'),
                        $('#sliderEP').slider('getValue'))">
                        Choose
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body lead">
            <div clas="row">
                <div class="col-md-6">
                    Random graph, where every edge is in the graph with given probability.
                </div>
                <div class="col-md-6">
                    <div class="parameterInfo">Edge probability</div>
                    <input id="sliderEP" data-slider-id='erEdgeP' type="text"
                           data-slider-min="0" data-slider-max="1"
                           data-slider-step="0.05" data-slider-value="0.3"/>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row panel-title">
                <div class="col-md-6">
                    <h3 class="panel-title lead">Preferential Attachment Model</h3>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary"
                            onclick="preferentialAttachment($('#sliderN').slider('getValue'),
                            $('#sliderICS').slider('getValue'), $('#sliderLinks').slider('getValue'))">
                        Choose
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body lead">
            <div clas="row">
                <div class="col-md-6">
                    Preferential Attachment model is an algorithm for generating random scale-free networks
                    using a preferential attachment mechanism. Scale-free networks are widely observed in
                    natural and human-made systems, including the Internet, the world wide web, citation networks,
                    and some social networks.
                </div>
                <div class="col-md-6">
                    <div class="parameterInfo">Initial clique size</div>
                    <input id="sliderICS" data-slider-id='paICS' type="text"
                                                     data-slider-min="0" data-slider-max="10"
                                                     data-slider-step="1" data-slider-value="3"/>
                    <div class="parameterInfo">Number of links created when joining</div>
                    <input id="sliderLinks" data-slider-id='paLinks' type="text"
                           data-slider-min="1" data-slider-max="20"
                           data-slider-step="1" data-slider-value="3"/>
                </div>
            </div>

        </div>
    </div>
</div>